includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - .
    excludePaths:
        - vendor/
        - node_modules/
        - tests/
    scanFiles:
        # Include common WP functions if needed, though the extension handles most
        # - functions.php 
