@media only screen and (max-width: 3000px) {
	.custom-container {
		padding: 0 150px;
		width: 100%;
	}
}

@media only screen and (max-width: 2500px) {
	.custom-container {
		padding: 0 100px
	}

}

@media only screen and (max-width: 1400px) {
	.top-navbar li.nav-item {
		padding: 0px 15px;
	}
}

@media only screen and (max-width: 1199px) {
	.custom-container {
		padding: 0 50px
	}

	.our-work-progress .row .col-xl-3:nth-child(2) .work-progress-card::after {
		display: none;
	}


}

@media only screen and (max-width: 1024px){
	.cs-tabs ul{flex-wrap: wrap;}
	.cs-tabs ul li{width: calc((100% - 30px) / 3);}
	.cs-lists ul li{width: calc((100% - 0px) / 2);}
	.cs-lists ul li .cs-tool-box .cs-box-desc h3{font-size: 24px;}
}


@media only screen and (max-width: 991px) {
	.top-navbar a.nav-link,
	.top-navbar a.nav-link:hover,
	header.sticky a.nav-link:hover {
		color: #000 !important;
	}

	li.nav-item.dropdown .dropdown-menu a.dropdown-item,
	li.nav-item.dropdown .dropdown-menu .nav-link {
		padding: 0px 19px;
		line-height: 1.4;
	}
	.top-navbar ul.navbar-nav li.nav-item .dropdown-menu .nav-item{padding: 5px 0;}

	.navbar-collapse ul.navbar-nav {
		width: 100%;
		margin: 40px 0px !important;
		/*height: calc(100% - 200px);*/
		overflow-y: auto;
		overflow-x: hidden;
	}
	.top-navbar ul.navbar-nav > .nav-item:after{display: none;}

	.top-navbar {
		padding: 4px 0px;
	}

	.navbar-collapse ul.navbar-nav::-webkit-scrollbar {
		width: 4px;
	}

	.top-navbar li.nav-item {
		padding: 0px 10px;
		border-right: 0px solid var(--dark-green-800);
	}

	.top-navbar ul.navbar-nav li.nav-item:first-child {
		border-left: 0px solid var(--dark-green-800);
	}

	.top-navbar ul.navbar-nav li.nav-item a{
		padding: 11px 0px;
	}

	.only_mobile_view {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

	.dropdown-menu.show {
		border: none;
		box-shadow: none !important;
		display: block !important;
	}

	a.navbar-brand.top-logo-part img,
	.mobile_logo img {
		max-height: 45px;
	}

	.dropdown-menu.show li a {
		color: #6F6E6E;
	}

	.only_mobile_view .hamburger-toggle {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.dropdown-toggle::after {
		position: absolute;
		left: auto;
		right: 0px;
		z-index: 9;
	}

	li.nav-item.dropdown:hover .dropdown-menu {
		display: none;
	}

	li.nav-item.dropdown:hover .dropdown-toggle::after {
		transform: rotate(0deg);
	}

	li.nav-item.show .dropdown-toggle::after {
		transform: rotate(180deg) !important;
	}

	li.nav-item.dropdown:hover .dropdown-menu {
		box-shadow: none !important;
	}

	li.nav-item.dropdown .dropdown-menu li:not(:last-child) {
		border-bottom: 0px solid #e6e6e6;
	}

	.client-logos {
		padding: 50px 0px;
	}

	.client-logos .client-logo-item {
		min-height: 70px;
		padding: 12px 14px;
	}

	.client-logos .client-logo-item img {
		max-height: 36px;
	}

	.navbar-collapse.collapse.show {
		top: 0;
		position: fixed;
		left: 0%;
	}

	.navbar-collapse {
		flex-basis: 100%;
		flex-grow: 1;
		align-items: center;
		width: calc(100% - 0px);
		height: 100%;
		max-width: 100%;
		position: fixed;
		z-index: 999;
		top: 0;
		left: -100%;
		background-color: #fff;
		overflow: hidden;
		padding: 15px;
		-webkit-transition: left .4s cubic-bezier(.6, .1, .68, .53);
		transition: left .4s cubic-bezier(.6, .1, .68, .53);
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: flex-start;
		bottom: 0px;
	}

	.custom-container {
		padding: 0 32px
	}

	.navbar-toggler:focus {
		box-shadow: none;
	}

	.loginBtn-cntn .globalBtnOutline{color: var(--button-border) !important;}
	.global-header .min-title {margin-top: -30px !important;}
	.global-header h2{font-size: 90px;}
	.global-header h5 {font-size: 34px; line-height: 1.2;}

	.inner-banner .global-header.service p,
	.inner-banner .global-header.blogs p{
		width: 100%;
	}

	.hero-banner-main {flex-direction: column; min-height: auto; padding: 30px 0 50px;}
	.hero-banner-cntn{padding-bottom: 0px;}
	.hero-banner-cntn h1 {font-size: 50px;}

	.about-us {padding: 50px 0px;}
	.about-cntn p {font-size: 16px;}

	.abt-counter-item {padding-right: 10px;}

	.our-services, .why-Onchoose-us, .case-studies-weap,
	.our-work-progress, .client-testimonial, .Strategies,
	.our-blog, .faq-outer, .contact-us, .work-progress {
		padding: 50px 0px;
	}
	.with-our-process {padding: 0; margin: 50px 0 !important;}
	.our-expertise{margin: 50px 0;}
	.with-our-process .global-header,
	.future-ready-section .global-header{margin-bottom: 40px;}

	.partner-item h3 {font-size: 24px;}
	.partner-item ul.wp-block-list{margin: 0px;}
	.work-progress .global-header {margin-bottom: 50px;}

	.work-progress-card{margin: 20px 0;}

	.our-blog .owl-nav{display: none;}

	.contact-cntn{margin-bottom: 30px; padding: 40px; border-radius: 25px; gap: 20px;}

	.ready-to-ship .schedule-call{margin-right: 10px;}

	.future-ready-grid {grid-template-columns: repeat(1, 1fr);}


	.footer .footer-right{flex-wrap: wrap;}
}


@media only screen and (max-width: 767px) {

	.global-header h2{font-size: 74px;}
	.global-header h5 {font-size: 30px;}
	.global-header .min-title {margin-top: -30px !important;}

	.inner-banner-wrap .custom-container{padding: 0 20px;}

	.about-us {padding-top: 0px;}

	.custom-container {padding: 0 16px}

	.navbar-toggler-icon {width: 30px;}

	.hero-banner-cntn h1 {font-size: 40px;}

	.cs-tabs ul li{width: calc((100% - 15px) / 2);}

	.our-work-progress .row .col-xl-3 .work-progress-card::after {display: none;}

	.abt-counter-item {margin: 10px 0;}
	.abt-counter-item h4{font-size: 34px;}

	.logo-tabs-list{margin-bottom: 20px; flex-direction: inherit; flex-wrap: wrap;}
	.logo-tabs-list a.list-tab-panel-btn{width: 50%;}
	.logo-tabs-list a.list-tab-panel-btn:first-child{width: 100%;}

	.client-Item .client-info{max-width: 100%;}
	.client-Item .client-profile{display: none;}

	.abt-counter .row .col-6:nth-child(2) .abt-counter-item,
	.abt-counter .row .col-6:nth-child(4) .abt-counter-item {border-right: 0px;}

	.Future-Ready-item{gap: 20px; padding: 20px; border-radius: 10px 40px;}
	.Future-Ready-item h3{margin-bottom:10px; font-size: 22px;}
	.items-thumb {width: 50px; height: 50px;}
	.items-thumb svg {width: 30px; height: 30px;}

}

@media only screen and (max-width:640px) {
	.cs-lists ul li{width: calc((100% - 0px) / 1);}
	.cs-lists ul li .cs-tool-box{border-right: 0px;}
	.cs-lists ul li .cs-tool-box .cs-box-desc h3{font-size: 20px;}

	.blog-item2{flex-direction: column;}
	.blog-item2 .blog-thumbnail {max-width: 100%; min-width: 240px;}
}

@media only screen and (max-width: 575px) {
	.navbar-toggler-icon {width: 25px;}

	.global-header h2{font-size: 64px;}

	.why-Onchoose-us .content-wrapper{grid-template-columns: repeat(1, 1fr);}

}

@media only screen and (max-width: 991px) {
	.case-study-hero__grid {grid-template-columns: 1fr;}
	.case-study-stat-card {margin-left: 0;}
	.case-study-hero__content h1 {font-size: 42px;}
	.case-study-cta {flex-direction: column; align-items: flex-start;}
}

@media only screen and (max-width: 575px) {
	.case-study-hero {padding: 90px 0 70px;}
	.case-study-hero__content h1 {font-size: 34px;}
}

@media only screen and (max-width: 991px) {
	.case-study-reviews__grid {grid-template-columns: repeat(2, minmax(0, 1fr));}
	.case-study-logo-grid {grid-template-columns: repeat(3, minmax(0, 1fr));}
}

@media only screen and (max-width: 640px) {
	.case-study-reviews__grid {grid-template-columns: 1fr;}
	.case-study-logo-grid {grid-template-columns: repeat(2, minmax(0, 1fr));}
}

@media only screen and (max-width: 575px) {
	.case-study-reviews__header h2 {font-size: 30px;}
}
